.wrap{
	margin-left: 20px;
	margin-right: 20px;
}
.pos{
	background: #406895;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	height: 150px;
}
.header{
	margin-top: 0px;
	height: 60px;
}
.logo{
	float: left;
}
.header h1{
	float: left;
	color: #D0E5DE;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	letter-spacing: 0.03em;
	font-size: 58px;
	margin-left: 80px;
	line-height: normal;
	font: georgia,serif,'book antique','palatino';
	visibility: inherit;
}
.home{
	margin-top: 20px;
	float: right;
	margin-right: 20px;
	font-size: 30px;
}
.nav{
	clear: both;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
	display: block;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.nav ul{
	list-style: none;
	display: inline-block;
}
.nav li{
	float: left;
	width: 150px;
	border-right: 1px solid #d4d4d4;
}
.nav li:last-child
{
	border-right: 0px;
}
.nav a{
	text-decoration: none;
	font-size: 25px;
}
.hero{
	clear: both;
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
}
.about{
	width: 800px;
	float: left;
}
.pic{
	margin-top: 20px;
	margin-left: 30px;
	float: left;
}
.about h2{
	font-size: 30px;
}
.about p{
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}

.grid_12{
	background: url("mem.jpg");
	width: 960px;
	height: 366px;
}
.grid_5{
	margin-top: 15px;
	float: left;
	height: 200px;
	font-family: 'Lobster', cursive;
	font-size: 15px;
}
.grid_3{
	float: left;
	margin-top: 15px;
	height: 200px;
}
.grid_3 img{
	display: block;
	margin: auto;
	width: 100%;
}
.grid_4{
	float: left;
	margin-top: 15px;
	height: 200px;
}
.grid_4 p{
	margin-left: 50px;
	font-family: 'Lobster', cursive;
}
.grid_4 img{
	display: block;
	margin: auto;
}
footer{
	background: #406895;
	top: 0px;
	left: 0px;
	right: 0px;
	height:150px;
}
.wom{
	float: right;
	margin-top: 10px;
	margin-right: 100px;
}
.copy{
	clear: both;
	float: left;
	margin-top: 10px;
	margin-left: 100px;
}
.copy p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.design{
	float: right;
	margin-top: 10px;
	margin-right: 100px;
}
.design p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}