.wrap{
	margin-left: 20px;
	margin-right: 20px;
}
.pos{
	background: #406895;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 3;
}
.header{
	margin-top: 0px;
	height: 100px;
}
.logo{
	float: left;
}
h1{
	font-size: 50px;
	font-family: sans-serif;
	text-align: center;
	margin-left: 150px;
	float: left;
	text-shadow: 5px 5px 5px red;
}
.home{
	float: right;
	margin-right: 20px;
	font-size: 30px;
}
.home a{
	text-decoration: none;
	color: black;
}
.nav{
	margin-top: 20px;
	clear: both;
	margin-left: 100px;
	margin-right: 100px;
}
.nav ul{
	font: bold 19px "Helvetica Neue", Helvetica, Arial, sans-serif;
  	text-transform: uppercase;
}
.nav li{
	display: inline-block;
}
.nav a{
	background: #395870;
  	background: linear-gradient(#49708f, #293f50);
 	border-right: 1px solid rgba(0, 0, 0, .3);
 	color: #fff;
  	padding: 12px 15px;
  	text-decoration: none;
}
.nav a:hover{
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.nav li:first-child a {
  border-radius: 4px 0 0 4px;
}
.nav li:last-child a {
  border-right: 0;
  border-radius: 0 4px 4px 0;
}
.scroll a{
	font-size: 20px;
	color: red;
	text-decoration: none;
}
.scroll p{
	text-align: center;
}
.view{
	position: relative;
	margin-top: 220px;
	margin-left: 100px;
	margin-right: 100px;
	z-index: 2;
}
.hero{
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
}
.about{
	width: 800px;
	float: left;
}
.pic{
	margin-top: 20px;
	margin-left: 30px;
	float: left;
}
.about h2{
	font-size: 30px;
}
.about p{
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}

.grid_12{
	background: url("mem.jpg");
	width: 960px;
	height: 366px;
}
.grid_5{
	margin-top: 15px;
	float: left;
	height: 200px;
	font-family: 'Lobster', cursive;
	font-size: 15px;
}
.grid_3{
	float: left;
	margin-top: 15px;
	height: 200px;
}
.grid_3 img{
	display: block;
	margin: auto;
	width: 100%;
}
.grid_4{
	float: left;
	margin-top: 15px;
	height: 200px;
}
.grid_4 p{
	margin-left: 50px;
	font-family: 'Lobster', cursive;
}
.grid_4 img{
	display: block;
	margin: auto;
}
.wom{
	float: right;
	margin-right: 100px;
}
.copy{
	clear: both;
	float: left;
	margin-left: 100px;
}
.copy p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.design{
	float: right;
	margin-right: 100px;
}
.design p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}