.wrap{
	margin-left: 20px;
	margin-right: 20px;
}
.pos{
	background: #406895;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	height: 150px;
}
.header{
	margin-top: 0px;
	height: 60px;
}
.logo{
	float: left;
}
.header h1{
	float: left;
	color: #D0E5DE;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	letter-spacing: 0.03em;
	font-size: 58px;
	margin-left: 80px;
	line-height: normal;
	font: georgia,serif,'book antique','palatino';
	visibility: inherit;
}
.home{
	margin-top: 20px;
	float: right;
	margin-right: 20px;
	font-size: 30px;
}
.nav{
	clear: both;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
	display: block;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.nav ul{
	list-style: none;
	display: inline-block;
}
.nav li{
	float: left;
	width: 150px;
	border-right: 1px solid #d4d4d4;
}
.nav li:last-child
{
	border-right: 0px;
}
.nav a{
	text-decoration: none;
	font-size: 25px;
}
.id{
	margin-top: 150px;
	text-align: center;
}
.id p{
	font-family: 'Play', sans-serif;
	font-size: 30px;
}
.container_12{
	margin-top: 20px;
}
.container_12 h1{
	font-size: 50px;
}
.grid_6{
	float: left;
	height: 450px;
}
.grid_6 h1{
	font-size: 30px;
}
.grid_6 p{
	text-align: justify;
	font-size: 15px;
	font-family: 'Abril Fatface', cursive;
}
.grid_6 a
{
	text-decoration: none;
}
footer{
	background: #406895;
	top: 0px;
	left: 0px;
	right: 0px;
	height:150px;
}
.wom{
	float: right;
	margin-top: 10px;
	margin-right: 100px;
}
.copy{
	clear: both;
	float: left;
	margin-top: 10px;
	margin-left: 100px;
}
.copy p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.design{
	float: right;
	margin-top: 10px;
	margin-right: 100px;
}
.design p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}