.wrap{
	margin-left: 20px;
	margin-right: 20px;
}
.pos{
	background: #406895;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 3;
	height: 210px;
}
.header{
	margin-top: 0px;
	height: 60px;
}
.logo{
	float: left;
}
.header h1{
	float: left;
	color: #D0E5DE;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	letter-spacing: 0.03em;
	font-size: 58px;
	margin-left: 80px;
	line-height: normal;
	font: georgia,serif,'book antique','palatino';
	visibility: inherit;
}
.home{
	margin-top: 20px;
	float: right;
	margin-right: 20px;
	font-size: 30px;
}
.nav{
	clear: both;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 40px;
	display: block;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.nav ul{
	list-style: none;
	display: inline-block;
}
.nav li{
	float: left;
	width: 150px;
	border-right: 1px solid #d4d4d4;
}
.nav li:last-child
{
	border-right: 0px;
}
.nav a{
	text-decoration: none;
	font-size: 25px;
}
.don{
	margin-top: 200px;
	margin-left: 100px;
	margin-right: 100px;
	height: 850px;
}
.don h1{
	font-size: 50px;
}
.don p{
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
}
form{
	background: url("don.jpg") no-repeat;
	background-size: cover;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
}
.wom{
	float: right;
	margin-right: 100px;
}
.copy{
	clear: both;
	float: left;
	margin-left: 100px;
}
.copy p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.design{
	float: right;
	margin-right: 100px;
}
.design p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}