html{
	background: url("3.jpg") no-repeat center center;
    background-size: cover;
}
.wrap{
	margin-left: 20px;
	margin-right: 20px;
}
.header{
	height: 100px;
}
.logo{
	float: left;
}
h1{
	font-size: 50px;
	margin-top: 20px;
	font-family: sans-serif;
	text-align: center;
	margin-left: 150px;
	float: left;
	text-shadow: 5px 5px 5px red;
}
.home{
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	font-size: 30px;
}
a{
	text-decoration: none;
}
h2{
	text-align: center;
	border-top-style: double;
	border-bottom-style: double;
	text-shadow: 5px 2px 3px blue;
	font-family: sans-serif;
	text-align: center;
}
footer{
	margin-top: 70px;
}
.wom{
	float: right;
	margin-right: 20px;
}
.copy{
	clear: both;
	float: left;
	margin-left: 20px;
}
.copy p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.design{
	float: right;
	margin-right: 20px;
}
.design p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}